In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import json

In [1]:
df_madrid = pd.read_csv("madrid.csv")
df_madrid = pd.read_csv("malaga.csv")
df_madrid = pd.read_csv("madrid.csv")
df_madrid = pd.read_csv("madrid.csv")
df_madrid = pd.read_csv("madrid.csv")
df_madrid = pd.read_csv("madrid.csv")
df_madrid = pd.read_csv("madrid.csv")
df_madrid = pd.read_csv("madrid.csv")

NameError: name 'pd' is not defined

In [3]:
columns_drop = ["listing_url", "scrape_id", "last_scraped", "description", "picture_url", "host_url", "host_about",
                "host_location", "name", "neighborhood_overview", "host_since", "host_thumbnail_url", "host_picture_url",
                "host_neighbourhood", "host_listings_count", "host_has_profile_pic", "bathrooms", "calendar_updated",
                "has_availability", "calendar_last_scraped", "number_of_reviews_ltm", "number_of_reviews_l30d",
                "first_review", "last_review", "review_scores_rating", "review_scores_accuracy", "review_scores_cleanliness",
                "review_scores_checkin", "review_scores_communication", "review_scores_location", "review_scores_value",
                "license", "calculated_host_listings_count_entire_homes", "calculated_host_listings_count_private_rooms",
                "calculated_host_listings_count_shared_rooms", "neighbourhood", "host_name", "calculated_host_listings_count"]

columns_maybe_drop = ["host_response_time", "host_response_rate", "host_acceptance_rate", "host_is_superhost",
                      "host_identity_verified", "minimum_minimum_nights", "minimum_minimum_nights", "maximum_minimum_nights",
                      "minimum_maximum_nights", "maximum_maximum_nights", "minimum_nights_avg_ntm", "maximum_nights_avg_ntm",
                      "availability_30", "availability_60", "availability_90"]

In [4]:
df.drop(columns = columns_drop + columns_maybe_drop, axis = 1, inplace = True)

In [5]:
df.isna().sum()/df.shape[0]*100

id                               0.000000
host_id                          0.000000
host_total_listings_count        2.686308
host_verifications               0.000000
neighbourhood_cleansed           0.000000
neighbourhood_group_cleansed     0.000000
latitude                         0.000000
longitude                        0.000000
property_type                    0.000000
room_type                        0.000000
accommodates                     0.000000
bathrooms_text                   0.147823
bedrooms                         7.620553
beds                             2.038944
amenities                        0.000000
price                            0.000000
minimum_nights                   0.000000
maximum_nights                   0.000000
availability_365                 0.000000
number_of_reviews                0.000000
instant_bookable                 0.000000
reviews_per_month               28.733816
dtype: float64

In [6]:
# host_verifications: número de elementos en la lista
df["host_verifications"] = df["host_verifications"].apply(lambda x : len(json.loads((x.replace("'", '"')))) if x != "None" else np.nan)

In [7]:
# bathrooms_text: limpieza de columna

df["bathrooms_text"] = df["bathrooms_text"].apply(lambda x : x.split(" ")[0] if (type(x) == str) and ("bath" in x) else np.nan)

bath_map = {"Private" : 1, "Shared" : 0.5, "Half-bath" : 0.5}

df["bathrooms_text"] = df["bathrooms_text"].apply(lambda x : bath_map[x] if x in bath_map.keys() else float(x))

In [8]:
# amenities: número de elementos en la lista

list_amenities = list()

for num, x in enumerate(df["amenities"].values):
    try:
        list_amenities.append(len(json.loads((x.replace("'", '"')))))
        
    except:
        list_amenities.append(len(x.replace("'", '"').replace("\\", "")))
        
        
df["amenities"] = list_amenities

In [9]:
# Quito esta columna por la cantidad de NaN's, pero creo que si estuviera el modelo daría mejores resultados
# Se pueden llenar con KNNImputer

# df.drop("reviews_per_month", axis = 1, inplace = True)
df.dropna(inplace = True)

In [10]:
df

,id,host_id,host_total_listings_count,host_verifications,neighbourhood_cleansed,neighbourhood_group_cleansed,latitude,longitude,property_type,room_type,...,bedrooms,beds,amenities,price,minimum_nights,maximum_nights,availability_365,number_of_reviews,instant_bookable,reviews_per_month
0,6369,13660,1.0,6.0,Hispanoamérica,Chamartín,40.45724,-3.67688,Private room in apartment,Private room,...,1.0,1.0,18,$60.00,1,1125,180,78,f,0.58
1,21853,83531,2.0,7.0,Cármenes,Latina,40.40381,-3.74130,Private room in apartment,Private room,...,1.0,1.0,28,$31.00,4,40,364,33,f,0.42
4,26825,114340,1.0,5.0,Legazpi,Arganzuela,40.38975,-3.69018,Private room in house,Private room,...,1.0,1.0,14,$26.00,2,1125,365,149,f,1.12
6,30320,130907,3.0,3.0,Sol,Centro,40.41476,-3.70418,Entire apartment,Entire home/apt,...,1.0,2.0,8,$65.00,5,180,351,170,f,1.29
7,30959,132883,1.0,4.0,Embajadores,Centro,40.41259,-3.70105,Entire loft,Entire home/apt,...,1.0,1.0,11,$54.00,3,730,0,8,f,0.11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19467,48948030,9885245,33.0,5.0,Castillejos,Tetuán,40.46234,-3.69516,Entire apartment,Entire home/apt,...,3.0,4.0,22,$62.00,1,1125,360,1,f,1.00
19491,48977491,394669135,0.0,2.0,Sol,Centro,40.41913,-3.70173,Private room in apartment,Private room,...,1.0,2.0,27,$60.00,1,1125,158,2,t,2.00
19493,48978809,34770530,1.0,2.0,Almenara,Tetuán,40.46816,-3.68873,Private room in bed and breakfast,Private room,...,1.0,1.0,17,$25.00,1,7,175,1,t,1.00
19494,48980117,4294898,2.0,9.0,Justicia,Centro,40.42207,-3.69930,Entire apartment,Entire home/apt,...,1.0,1.0,29,$44.00,2,1125,331,1,f,1.00
19500,48991692,236357316,1.0,2.0,Ventas,Ciudad Lineal,40.43080,-3.65934,Entire apartment,Entire home/apt,...,2.0,2.0,21,$70.00,1,1125,89,1,f,1.00

In [11]:
df_num = df._get_numeric_data()
df_num

,id,host_id,host_total_listings_count,host_verifications,latitude,longitude,accommodates,bathrooms_text,bedrooms,beds,amenities,minimum_nights,maximum_nights,availability_365,number_of_reviews,reviews_per_month
0,6369,13660,1.0,6.0,40.45724,-3.67688,2,1.0,1.0,1.0,18,1,1125,180,78,0.58
1,21853,83531,2.0,7.0,40.40381,-3.74130,1,1.0,1.0,1.0,28,4,40,364,33,0.42
4,26825,114340,1.0,5.0,40.38975,-3.69018,1,1.0,1.0,1.0,14,2,1125,365,149,1.12
6,30320,130907,3.0,3.0,40.41476,-3.70418,2,1.0,1.0,2.0,8,5,180,351,170,1.29
7,30959,132883,1.0,4.0,40.41259,-3.70105,2,1.0,1.0,1.0,11,3,730,0,8,0.11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19467,48948030,9885245,33.0,5.0,40.46234,-3.69516,8,1.5,3.0,4.0,22,1,1125,360,1,1.00
19491,48977491,394669135,0.0,2.0,40.41913,-3.70173,4,1.0,1.0,2.0,27,1,1125,158,2,2.00
19493,48978809,34770530,1.0,2.0,40.46816,-3.68873,2,1.0,1.0,1.0,17,1,7,175,1,1.00
19494,48980117,4294898,2.0,9.0,40.42207,-3.69930,4,1.0,1.0,1.0,29,2,1125,331,1,1.00
19500,48991692,236357316,1.0,2.0,40.43080,-3.65934,3,2.0,2.0,2.0,21,1,1125,89,1,1.00

In [12]:
# Agrego la columna id para después hacer pd.merge()

df_cat = df.drop(df_num.columns, axis = 1)
df_cat = pd.concat([df_cat, df_num[["id"]]], axis = 1)
df_cat

,neighbourhood_cleansed,neighbourhood_group_cleansed,property_type,room_type,price,instant_bookable,id
0,Hispanoamérica,Chamartín,Private room in apartment,Private room,$60.00,f,6369
1,Cármenes,Latina,Private room in apartment,Private room,$31.00,f,21853
4,Legazpi,Arganzuela,Private room in house,Private room,$26.00,f,26825
6,Sol,Centro,Entire apartment,Entire home/apt,$65.00,f,30320
7,Embajadores,Centro,Entire loft,Entire home/apt,$54.00,f,30959
...,...,...,...,...,...,...,...
19467,Castillejos,Tetuán,Entire apartment,Entire home/apt,$62.00,f,48948030
19491,Sol,Centro,Private room in apartment,Private room,$60.00,t,48977491
19493,Almenara,Tetuán,Private room in bed and breakfast,Private room,$25.00,t,48978809
19494,Justicia,Centro,Entire apartment,Entire home/apt,$44.00,f,48980117
19500,Ventas,Ciudad Lineal,Entire apartment,Entire home/apt,$70.00,f,48991692

In [13]:
# Decido quedarme solo con "neighbourhood_group_cleansed"

df_cat.drop(["neighbourhood_cleansed"], axis = 1, inplace = True)

df_cat

,neighbourhood_group_cleansed,property_type,room_type,price,instant_bookable,id
0,Chamartín,Private room in apartment,Private room,$60.00,f,6369
1,Latina,Private room in apartment,Private room,$31.00,f,21853
4,Arganzuela,Private room in house,Private room,$26.00,f,26825
6,Centro,Entire apartment,Entire home/apt,$65.00,f,30320
7,Centro,Entire loft,Entire home/apt,$54.00,f,30959
...,...,...,...,...,...,...
19467,Tetuán,Entire apartment,Entire home/apt,$62.00,f,48948030
19491,Centro,Private room in apartment,Private room,$60.00,t,48977491
19493,Tetuán,Private room in bed and breakfast,Private room,$25.00,t,48978809
19494,Centro,Entire apartment,Entire home/apt,$44.00,f,48980117
19500,Ciudad Lineal,Entire apartment,Entire home/apt,$70.00,f,48991692

In [14]:
# price: limpieza de columna
df_cat["price"] = df_cat["price"].apply(lambda x : float(x.strip("$").replace(",", "")))

In [15]:
# instant_bookable: transformar a 0 y 1
df_cat["instant_bookable"] = df_cat["instant_bookable"].apply(lambda x : 0 if x == "f" else 1)

In [16]:
# room_type: eliminar "Hotel room" y transformar a dummies

df_cat = df_cat[df_cat["room_type"] != "Hotel room"]

df_cat = pd.concat([df_cat, pd.get_dummies(data = df_cat["room_type"])], axis = 1).drop("room_type", axis = 1)

In [17]:
df_cat

,neighbourhood_group_cleansed,property_type,price,instant_bookable,id,Entire home/apt,Private room,Shared room
0,Chamartín,Private room in apartment,60.0,0,6369,0,1,0
1,Latina,Private room in apartment,31.0,0,21853,0,1,0
4,Arganzuela,Private room in house,26.0,0,26825,0,1,0
6,Centro,Entire apartment,65.0,0,30320,1,0,0
7,Centro,Entire loft,54.0,0,30959,1,0,0
...,...,...,...,...,...,...,...,...
19467,Tetuán,Entire apartment,62.0,0,48948030,1,0,0
19491,Centro,Private room in apartment,60.0,1,48977491,0,1,0
19493,Tetuán,Private room in bed and breakfast,25.0,1,48978809,0,1,0
19494,Centro,Entire apartment,44.0,0,48980117,1,0,0
19500,Ciudad Lineal,Entire apartment,70.0,0,48991692,1,0,0

In [18]:
# property_type está representada port la columnas dummies de room_type

df_cat.drop("property_type", axis = 1, inplace = True)

In [19]:
# Uso el LabelEncoder para transformarlo a números sin ningún tipo de relación u orden

from sklearn.preprocessing import LabelEncoder

neighbourhood_group_encoder = LabelEncoder()
df_cat["neighbourhood_group_cleansed"] = neighbourhood_group_encoder.fit_transform(df_cat["neighbourhood_group_cleansed"])

In [20]:
df = pd.merge(left = df_num, right = df_cat, on = "id")

df

,id,host_id,host_total_listings_count,host_verifications,latitude,longitude,accommodates,bathrooms_text,bedrooms,beds,...,maximum_nights,availability_365,number_of_reviews,reviews_per_month,neighbourhood_group_cleansed,price,instant_bookable,Entire home/apt,Private room,Shared room
0,6369,13660,1.0,6.0,40.45724,-3.67688,2,1.0,1.0,1.0,...,1125,180,78,0.58,4,60.0,0,0,1,0
1,21853,83531,2.0,7.0,40.40381,-3.74130,1,1.0,1.0,1.0,...,40,364,33,0.42,9,31.0,0,0,1,0
2,26825,114340,1.0,5.0,40.38975,-3.69018,1,1.0,1.0,1.0,...,1125,365,149,1.12,0,26.0,0,0,1,0
3,30320,130907,3.0,3.0,40.41476,-3.70418,2,1.0,1.0,2.0,...,180,351,170,1.29,3,65.0,0,1,0,0
4,30959,132883,1.0,4.0,40.41259,-3.70105,2,1.0,1.0,1.0,...,730,0,8,0.11,3,54.0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12331,48948030,9885245,33.0,5.0,40.46234,-3.69516,8,1.5,3.0,4.0,...,1125,360,1,1.00,16,62.0,0,1,0,0
12332,48977491,394669135,0.0,2.0,40.41913,-3.70173,4,1.0,1.0,2.0,...,1125,158,2,2.00,3,60.0,1,0,1,0
12333,48978809,34770530,1.0,2.0,40.46816,-3.68873,2,1.0,1.0,1.0,...,7,175,1,1.00,16,25.0,1,0,1,0
12334,48980117,4294898,2.0,9.0,40.42207,-3.69930,4,1.0,1.0,1.0,...,1125,331,1,1.00,3,44.0,0,1,0,0
12335,48991692,236357316,1.0,2.0,40.43080,-3.65934,3,2.0,2.0,2.0,...,1125,89,1,1.00,6,70.0,0,1,0,0

### Outliers

In [21]:
df

,id,host_id,host_total_listings_count,host_verifications,latitude,longitude,accommodates,bathrooms_text,bedrooms,beds,...,maximum_nights,availability_365,number_of_reviews,reviews_per_month,neighbourhood_group_cleansed,price,instant_bookable,Entire home/apt,Private room,Shared room
0,6369,13660,1.0,6.0,40.45724,-3.67688,2,1.0,1.0,1.0,...,1125,180,78,0.58,4,60.0,0,0,1,0
1,21853,83531,2.0,7.0,40.40381,-3.74130,1,1.0,1.0,1.0,...,40,364,33,0.42,9,31.0,0,0,1,0
2,26825,114340,1.0,5.0,40.38975,-3.69018,1,1.0,1.0,1.0,...,1125,365,149,1.12,0,26.0,0,0,1,0
3,30320,130907,3.0,3.0,40.41476,-3.70418,2,1.0,1.0,2.0,...,180,351,170,1.29,3,65.0,0,1,0,0
4,30959,132883,1.0,4.0,40.41259,-3.70105,2,1.0,1.0,1.0,...,730,0,8,0.11,3,54.0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12331,48948030,9885245,33.0,5.0,40.46234,-3.69516,8,1.5,3.0,4.0,...,1125,360,1,1.00,16,62.0,0,1,0,0
12332,48977491,394669135,0.0,2.0,40.41913,-3.70173,4,1.0,1.0,2.0,...,1125,158,2,2.00,3,60.0,1,0,1,0
12333,48978809,34770530,1.0,2.0,40.46816,-3.68873,2,1.0,1.0,1.0,...,7,175,1,1.00,16,25.0,1,0,1,0
12334,48980117,4294898,2.0,9.0,40.42207,-3.69930,4,1.0,1.0,1.0,...,1125,331,1,1.00,3,44.0,0,1,0,0
12335,48991692,236357316,1.0,2.0,40.43080,-3.65934,3,2.0,2.0,2.0,...,1125,89,1,1.00,6,70.0,0,1,0,0

In [22]:
df["bathrooms_text"] = df["bathrooms_text"].apply(lambda x : np.ceil(x))

In [23]:
# Eliminé outliers solo viendo las gráficas
# Elimino alrededor de 4000 filas (muchísimo)

df = df[df["accommodates"] <= 8]
df = df[df["bathrooms_text"].between(1, 2)]
df = df[df["bedrooms"] <= 4]
df = df[df["beds"].between(1, 5)]
df = df[df["amenities"] <= 50]
df = df[df["minimum_nights"] <= 30]
df = df[df["number_of_reviews"] <= 300]
df = df[df["reviews_per_month"] <= 8]
df = df[df["price"] <= 400]
# df = df[df["host_total_listings_count"] <= 40]

In [24]:
# Elimono "Shared room" por el desbalance, casí no aparace en comparación a los otros

df.drop("Shared room", axis = 1, inplace = True)

### Normalizar

In [25]:
from sklearn.preprocessing import MinMaxScaler

x_scaler = MinMaxScaler()
df[df.drop("price", axis = 1).columns] = x_scaler.fit_transform(df[df.drop("price", axis = 1).columns])

y_scaler = MinMaxScaler()
df["price"] = y_scaler.fit_transform(df[["price"]]).flatten()

In [26]:
df.drop(["host_id", "id", "latitude", "longitude"], axis = 1, inplace = True)

In [27]:
df.drop(["instant_bookable", "host_verifications"], axis = 1, inplace = True)

In [28]:
df.columns

Index(['host_total_listings_count', 'accommodates', 'bathrooms_text',
       'bedrooms', 'beds', 'amenities', 'minimum_nights', 'maximum_nights',
       'availability_365', 'number_of_reviews', 'reviews_per_month',
       'neighbourhood_group_cleansed', 'price', 'Entire home/apt',
       'Private room'],
      dtype='object')

In [29]:
X = df.drop(["price"], axis = 1)
y = df["price"]

print(X.shape, y.shape)

(10634, 14) (10634,)

### Train, Test

In [30]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 42)

print(f"X_train: {X_train.shape} | y_train: {y_train.shape}")
print(f"X_test: {X_test.shape} | y_test: {y_test.shape}")

X_train: (7443, 14) | y_train: (7443,)
X_test: (3191, 14) | y_test: (3191,)

### Modelos y Métricas

In [31]:
# Modelos
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.svm import SVR
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import AdaBoostRegressor
from sklearn.ensemble import GradientBoostingRegressor

# Métricas
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error

In [32]:
%%time

modelos = [LinearRegression(), KNeighborsRegressor(), DecisionTreeRegressor(),
           RandomForestRegressor(), SVR(), AdaBoostRegressor(), GradientBoostingRegressor()]

metricas = list() 

for model in modelos:
    
    # fit
    model.fit(X_train, y_train)
    
    # predict
    yhat = model.predict(X_test)
    
    # metrics
    r2 = r2_score(y_test, yhat)
    mse = mean_squared_error(y_test, yhat)
    
    metricas.append([str(model), r2, mse, model])
    
df_metricas = pd.DataFrame(data = metricas, columns = ["model_name", "r2", "mse", "model"])

df_metricas.sort_values(by = "r2", ascending = False)

CPU times: total: 2.66 s
Wall time: 7.4 s

,model_name,r2,mse,model
6,GradientBoostingRegressor(),0.488335,0.007667,([DecisionTreeRegressor(criterion='friedman_ms...
3,RandomForestRegressor(),0.456601,0.008143,"(DecisionTreeRegressor(max_features=1.0, rando..."
0,LinearRegression(),0.420241,0.008688,LinearRegression()
4,SVR(),0.393449,0.009089,SVR()
1,KNeighborsRegressor(),0.365169,0.009513,KNeighborsRegressor()
2,DecisionTreeRegressor(),-0.084649,0.016253,DecisionTreeRegressor()
5,AdaBoostRegressor(),-0.605144,0.024053,"(DecisionTreeRegressor(max_depth=3, random_sta..."

In [33]:
modelo = df_metricas["model"][3]

modelo

RandomForestRegressor()

In [34]:
importances = np.argsort(modelo.feature_importances_)[::-1]

for i in importances:
    
    print(i, modelo.feature_importances_[i]*100, df.drop("price", axis = 1).columns[i])

12 22.528872481545182 Entire home/apt
10 12.531425762021502 reviews_per_month
5 8.42615627690848 amenities
8 7.292162632910696 availability_365
3 7.102467761036882 bedrooms
9 6.299378529382979 number_of_reviews
11 6.217221444492185 neighbourhood_group_cleansed
0 5.981613585357366 host_total_listings_count
7 5.7820763444307435 maximum_nights
2 5.392996554207869 bathrooms_text
1 5.2446438016042345 accommodates
6 4.945929341575362 minimum_nights
4 2.185503228161992 beds
13 0.06955225636452984 Private room

In [35]:
modelo = df_metricas["model"][6]

importances = np.argsort(modelo.feature_importances_)[::-1]

for i in importances:
    
    print(i, modelo.feature_importances_[i]*100, df.drop("price", axis = 1).columns[i])

12 27.23518698235677 Entire home/apt
1 25.804491256463912 accommodates
3 12.510177158317374 bedrooms
10 12.089722943423936 reviews_per_month
2 7.311652040706584 bathrooms_text
11 3.876467675758652 neighbourhood_group_cleansed
0 3.4977432613174027 host_total_listings_count
6 2.024057911058154 minimum_nights
8 1.623205900298973 availability_365
5 1.2222372272440647 amenities
7 1.0729991421839498 maximum_nights
9 1.0355919905501565 number_of_reviews
4 0.6684631794026807 beds
13 0.02800333091737395 Private room

In [36]:
y_test_inv = y_scaler.inverse_transform([y_test]).flatten()
yhat_inv = y_scaler.inverse_transform([yhat]).flatten()


r2 = r2_score(y_test_inv, yhat_inv)
mse = mean_squared_error(y_test_inv, yhat_inv)

print(r2, mse)

0.48833513281964414 1178.1818442813062

In [37]:
# %%time

# from sklearn.model_selection import GridSearchCV

# # Modelo
# model = RandomForestRegressor()

# # Parametros a iterar
# params = {"n_estimators" : [i for i in range(100, 1001, 50)],
#           "max_depth"    : [8, 10, 12, 14, 16],
#           "max_features" : ["log2", "sqrt"]}

# # Metricas
# scorers = {"r2", "neg_mean_squared_error"}

# #GridSearchCV
# grid_solver = GridSearchCV(estimator  = model, 
#                            param_grid = params, 
#                            scoring    = scorers,
#                            cv         = 10,
#                            refit      = "r2",
#                            n_jobs     = -1, 
#                            verbose    = 2)

# # Resultados
# model_result = grid_solver.fit(X_train, y_train)

In [38]:
# model_result.best_estimator_

In [39]:
# model_result.cv_results_["mean_test_r2"].max()

In [40]:
# model_result.cv_results_

In [41]:
# model_result.best_score_

In [42]:
# %%time

# from sklearn.model_selection import GridSearchCV

# # Modelo
# model = GradientBoostingRegressor()

# # Parametros a iterar
# params = {"n_estimators"  : [i for i in range(100, 1001, 50)],
#           "max_depth"     : [8, 10, 12, 14, 16],
#           "max_features"  : ["log2", "sqrt"],
#           "learning_rate" : [1 / (10**i) for i in range(1, 5)]}

# # Metricas
# scorers = {"r2", "neg_mean_squared_error"}

# #GridSearchCV
# grid_solver = GridSearchCV(estimator  = model, 
#                            param_grid = params, 
#                            scoring    = scorers,
#                            cv         = 10,
#                            refit      = "r2",
#                            n_jobs     = -1, 
#                            verbose    = 2)

# # Resultados
# model_result = grid_solver.fit(X_train, y_train)

In [43]:
# model_result.best_estimator_, model_result.best_score_

In [44]:
import pickle


with open("model_gbr.sav", "wb") as file:
    pickle.dump(df_metricas["model"][6], file)

In [45]:
with open("model_gbr.sav", "rb") as file:
    model = pickle.load(file)

In [46]:
y_scaler.inverse_transform([model.predict([[round(x, 4) for x in X_test.iloc[0, :].values]])])

C:\Users\danie\anaconda3\lib\site-packages\sklearn\base.py:409: UserWarning: X does not have valid feature names, but GradientBoostingRegressor was fitted with feature names
  warnings.warn(

array([[28.89435491]])